.page-breadcrumbs{
  text-align: right;
  font: var(--font-l);
  font-weight: 500;
  position: relative;
  margin-top: 20px;
}
.page-breadcrumbs::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
}

section{
  margin-top: 30px;
  padding: 20px 10px 0 10px;
}
section *{
  box-sizing: border-box;
}
.section-name{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.section-inner{
  margin-top: 20px;
  padding: 40px 20px;
  border-radius: 5px;
  min-height: 100px;
  border: 2px solid var(--main-app-color);
}

.d-flex{
  display: flex;
  width: 100%;
}
.d-flex-gap-10{
  gap: 10px;
}
.d-flex-gap-20{
  gap: 20px;
}
.d-flex-sp-btw{
  justify-content: space-between;
}