.page header{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
}
.page-header-nav{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.page-header-nav-link {
  background:linear-gradient(180deg, #000000, #111111);
  position: relative;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid var(--main-app-color);

  text-align: center;
}

.page-header-nav-link::before, page-header-nav-link::after {
  content:'';
  position:absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, #993333, #ff00ff, #6e0dd0, #099fff, #ff00 ,#993333);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: animate 20s linear infinite;
  
  
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.page-header-nav a{
  text-decoration: none;
  color: #8082EB;
  font-weight: 500;
  text-transform: uppercase;
}
.page-header-nav-link::before {
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page-header-nav-link:hover::before {
  opacity: 100;
}
